<div class="timeline" [ngClass]="{'stacked': stacked}" style="padding-top: 15px;">
  <div class="timeline-card">
    <div class="timeline-icon mat-teal"></div>
  </div>
  <div class="timeline-card">
    <div class="timeline-icon mat-grey"></div>
    <section class="timeline-content">
      <mat-card>
        <mat-card-content>
          <p>Order Received</p>
        </mat-card-content>
      </mat-card>
      <div class="timeline-date">13:12 am</div>
    </section>
  </div>
  <div class="timeline-card">
    <div class="timeline-icon mat-purple"></div>
    <section class="timeline-content">
      <mat-card>
        <mat-card-content>
          <p>Order Confirmed</p>
        </mat-card-content>
      </mat-card>
      <div class="timeline-date">Yesterday</div>
    </section>
  </div>
  <div class="timeline-card">
    <div class="timeline-icon mat-lime"></div>
    <section class="timeline-content">
      <mat-card>
        <mat-card-content>
          <p class="m-a-0"> Order Being Prepared.</p>
        </mat-card-content>
      </mat-card>
      <div class="timeline-date">6 Days Ago</div>
    </section>
  </div>
  <div class="timeline-card">
    <div class="timeline-icon mat-green"></div>
    <section class="timeline-content">
      <mat-card>
        <mat-card-content>
          <p>Delivered</p>
        </mat-card-content>
      </mat-card>
      <div class="timeline-date">2 Months Ago</div>
    </section>
  </div>
  <div class="timeline-card">
    <div class="timeline-icon mat-yellow"></div>
  </div>
</div>
